# Зависимости Node.js
node_modules/

# Секретные переменные окружения (.env.example коммитится)
.env
.env.local
.env.*.local

# Next.js
/.next/
/out/
next-env.d.ts
*.tsbuildinfo

# Тесты
/coverage/
/test-results/
/playwright-report/
/blob-report/

# Логи ошибок npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Системные файлы операционных систем
.DS_Store
Thumbs.db

# Настройки редакторов кода
.vscode/
.idea/
